<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="group_test">
        <groups>
            <run>
                <include name="group1"/>
                <include name="group2"/>
            </run>
        </groups>
        <classes>
            <class name="GroupingDemo"></class>
        </classes>
    </test>
</suite>